@model IEnumerable<IdentityUser>

<div class="text-center my-4">
	<div class="display-6">Users</div>
</div>


<table class="table table-sm table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>UserName</th>
			<th>Email Address</th>
			<th>Roles</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		@foreach (IdentityUser user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>-</td>
				<td>
					<div class="btn-group gap-2">
						<a class="btn btn-sm btn-warning" asp-controller="Users" asp-action="Update" asp-route-username="@user.UserName">Update</a>
						<a class="btn btn-sm btn-info" asp-controller="Users" asp-action="ResetPassword" asp-route-username="@user.UserName">Reset Password</a>
						<a class="btn btn-sm btn-danger">Delete</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
