@if (User.Identity?.IsAuthenticated == true && (User.IsInRole("Admin") || (User.IsInRole("Editor")))) //kisi giris yapti ve (admin ya da editor rolundeyse);
{
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
	</li>

	<li class="nav-item">
		<a class="nav-link text-white" aria-current="page">@User.Identity.Name</a>
	</li>

	<li class="nav-item">
		<a class="nav-link active" aria-current="page"
		   asp-area=""
		   asp-controller="Account"
		   asp-action="Logout"
		   asp-route-returnUrl="@Context.Request.PathAndQuery()">
			Logout
		</a>
	</li>
}
else if (User.Identity?.IsAuthenticated == true) //kisi giris yaptiysa;
{
	<li class="nav-item">
		<a class="nav-link text-white" aria-current="page">@User.Identity.Name</a>
	</li>

	<li class="nav-item">
		<a class="nav-link active" aria-current="page"
		   asp-area=""
		   asp-controller="Account"
		   asp-action="Logout"
		   asp-route-returnUrl="@Context.Request.PathAndQuery()">
		   	Logout
		</a>
	</li>
}
else //kisi giris yapmadiysa
{
	<a class="nav-link active" aria-current="page"
	   asp-area=""
	   asp-controller="Account"
	   asp-action="Login"
	   asp-route-returnUrl="@Context.Request.PathAndQuery()">
		Login
	</a>

	<a class="nav-link active" aria-current="page"
	   asp-area=""
	   asp-controller="Account"
	   asp-action="Register">
		Register
	</a>
}