@model MovieViewModelWithDetails

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
	<div class="col-md-4">
		<img class="border border-light rounded" width="350" src="~/MoviePosters/@Model.PosterPath" alt="@Model.PosterPath" />
	</div>
	<div class="col-md-8">
		<h4>@Html.DisplayFor(model => model.OriginalTitle)</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Title)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Title)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Plot)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Plot)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.OriginalLanguage)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.OriginalLanguage)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.ReleaseDate)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.ReleaseDate)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Score)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Score)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Duration)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Duration)
			</dd>
			<dt class="col-sm-2">
				Director
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Director.FullName)
			</dd>

			<dt class="col-sm-2">
				Genres
			</dt>
			<dd class="col-sm-10">
				@foreach (var genre in Model.Genres)
				{
					<div>@genre.Name</div>
				}
			</dd>
			<div class="my-3">
				<a class="btn btn-primary" asp-action="Index"><i class="fa-solid fa-house"></i> Home Page </a>
			</div>
		</dl>
	</div>

	<div class="col-md-12">
		<h3>Actors</h3>
		<div class="actor-carousel-container">
			@if (Model.Actors.Count() > 5)
			{
				<button class="scroll-button left" id="scrollLeftButton" onclick="scrollLeft()">&#9664;</button>
			}
			<div class="actor-container" id="actorContainer">
				@foreach (var actor in Model.Actors)
				{
					<div class="actor-item">
						<h4>@actor.FullName</h4>
						<img class="rounded shadow" width="150" src="~/MovieActors/@actor.ImagePath" />
					</div>
				}
			</div>
			@if (Model.Actors.Count() > 5)
			{
				<button class="scroll-button right" id="scrollRightButton" onclick="scrollRight()">&#9654;</button>
			}
		</div>
	</div>
</div>



<script src="/js/scroll.js"></script>
