@model TechCareer_BootCamp_MovieProject_Model.Entities.FictionalCharacter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FictionalCharacter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Actors" asp-action="Details" asp-route-id="@Model.ActorId">@Html.DisplayFor(model => model.Actor.FullName)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
